.trendingCourses {
    margin-top: 25px;
    margin-bottom: 20px;
    .trendingCoursesContianer {
        background-color: #f7f9f9;
        border-radius: 10px 10px 10px 10px;
        padding-bottom: 10px;
        .trendingheader{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            padding: 10px 20px 15px 0px;

            svg {
                width: 20px;
                height: 20px;
                color: #f45046;
            }
            h2 {
                margin: 0;
                font-size: 20px;
                letter-spacing: 0.3px;
                font-weight: 600;
                color: rgba(8, 16, 16, 0.881);
            }
        }
    }
}