.profileCard {
    margin-top: 60px;
    max-width: 300px;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 15px;
        padding: 40px 40px 20px 40px;
        overflow-y: unset !important; 
        padding-right: 15px !important;
        padding-left: 15px !important;

        .image {
            .pluttonC {
                position: absolute;
                top: -48px;
                height: 100px;
                width: 100px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
            .user {
                height: 52px;
                width: 52px;
                position: absolute;
                left: 0px;
                right: 1px;
                margin-left: auto;
                margin-right: auto;
                top: -24px;
            }
        }

        .follow {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            font-weight: 500;

            .num {
                font-weight: 700;
                font-size: 14px;
            }

            .numText {
                color: rgb(109, 106, 106);
            }
            .followers {
                font-size: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: 0;
                }
            }

            .following {
                font-size: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin: 0;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                margin-bottom: 0;
                font-size: 20px;
                letter-spacing: 0.3px;
            }
            h3 {
                margin-bottom: 5px;
                margin-top: 0;
                font-weight: 500;
                font-size: 15px;
                color: rgb(63, 63, 65);
            }
            p{
                margin-top: 0;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.3px;
            }
        }

        .postButton {
            color: white;
            width: max-content;
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            button {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.5px;
                font-family: inherit;
                color: white;
                border: none;
                background-color: #f45046;
                padding: 8px 20px 8px 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            }
        }
    }
}
